<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>车辆大数据分析平台</title>
<!--设置是否为缩放模式 -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 新 Bootstrap 核心 CSS 文件 --> 
<link rel="stylesheet" type="text/css" href="https://www.jq22.com/jquery/bootstrap-3.3.4.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 --> 
<!-- <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 --> 
<script src="js/bootstrap.min.js"></script>
<!--echarts JS-->
<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
<script src="js/echarts-wordcloud.js"></script>
<!-- 轮播swiper文件 -->
<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
<script src="js/swiper.min.js"></script>
<!--界面样式-->
<script src="js/chart.js"></script>
<script src="js/china.js"></script>
<script src="js/chartMap.js"></script>
<link rel="stylesheet" type="text/css" href="css/visual.css">
<!-- semantic UI -->
<!-- <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/button.css" rel="stylesheet"> -->
<!-- <link href="css/semantic.min.css" rel="stylesheet">
<script src="js/semantic.min.js"></script> -->
<link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.js"></script>
<link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/statistic.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/icon.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/dropdown.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/semantic-ui/2.4.1/components/dropdown.js"></script>
<link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/menu.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/semantic-ui/2.4.1/components/button.css" rel="stylesheet">
<!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->

<!-- 词云 -->
<script src="js/wordCloud.js"></script>

<!-- 热力图 -->
<script src="js/heatMap.js"></script>

<!-- 散点图 -->
<script src="js/complaintScatter.js"></script>

<!-- 动态数字变化 -->
<!-- <script src="https://cdn.bootcss.com/jquery-animateNumber/0.0.14/jquery.animateNumber.js"></script> -->
<!-- <script type="text/javascript" src="./dist/script/numberAnimate.js"></script> -->



</head>
<body class="ksh">
	<div id="load">
		<div class="load_img"><!-- 加载动画 -->
			<img class="jzxz1" src="images/jzxz1.png">
			<img class="jzxz2" src="images/jzxz2.png">
		</div>
	</div>
	<div class="head_top">
		<img class="img-responsive" src="images/title.gif">
		
	</div>
	<div class="visual">
		<div class="visual_left">
			<div class="visual_box" id="brand" style="height: 20%;">
				<div class="mainContent" id="left1" style="height: 100%; width: 100%; float: left;">
					<span>
						当前车型/品牌：<a href="javascript:void(0)" onclick="gotoModelSelectionPage()" id="modelshow">迈腾</a>/<a href="javascript:void(0)" onclick="gotoBrandSelectionPage()" id="brandshow">大众</a>
					</span>	
				</div>

				<div id="pageBrand" style="overflow: auto; height: 100%; width: 100%; float: left; display: none">
					<div style="height: 33%; width: 100%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted teal button" onclick="gotoLeft1()">
								<i class="angle up icon"></i>
								返回
							</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setBrand('日产')">日产</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setBrand('大众')">大众</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setBrand('丰田')">丰田</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setBrand('本田')">本田</button>
					</div>

					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setBrand('吉利汽车')">吉利汽车</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setBrand('别克')">别克</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setBrand('奥迪')">奥迪</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setBrand('雪佛兰')">雪佛兰</button>
					</div>
					
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setBrand('奔驰')">奔驰</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setBrand('现代')">现代</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setBrand('宝马')">宝马</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setBrand('马自达')">马自达</button>
					</div>

				</div>

				<div id="pageModel日产" style="overflow: auto; height: 100%; width: 100%; float: left; display: none">
					<div style="height: 33%; width: 100%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted teal button" onclick="gotoLeft1()">
								<i class="angle up icon"></i>
								返回
							</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('轩逸')">轩逸</button>
					</div>

				</div>

				<div id="pageModel大众" style="overflow: auto; height: 100%; width: 100%; float: left; display: none">
					<div style="height: 33%; width: 100%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted teal button" onclick="gotoLeft1()">
								<i class="angle up icon"></i>
								返回
							</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('朗逸')">朗逸</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('宝来')">宝来</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('速腾')">速腾</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('帕萨特')">帕萨特</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('桑塔纳')">桑塔纳</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('迈腾')">迈腾</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('高尔夫')">高尔夫</button>
					</div>

				</div>

				<div id="pageModel丰田" style="overflow: auto; height: 100%; width: 100%; float: left; display: none">
					<div style="height: 33%; width: 100%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted teal button" onclick="gotoLeft1()">
								<i class="angle up icon"></i>
								返回
							</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('卡罗拉')">卡罗拉</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('雷凌')">雷凌</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('凯美瑞')">凯美瑞</button>
					</div>

				</div>

				<div id="pageModel本田" style="overflow: auto; height: 100%; width: 100%; float: left; display: none">
					<div style="height: 33%; width: 100%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted teal button" onclick="gotoLeft1()">
								<i class="angle up icon"></i>
								返回
							</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('思域')">思域</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('雅阁')">雅阁</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('凌派')">凌派</button>
					</div>

				</div>

				<div id="pageModel吉利汽车" style="overflow: auto; height: 100%; width: 100%; float: left; display: none">
					<div style="height: 33%; width: 100%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted teal button" onclick="gotoLeft1()">
								<i class="angle up icon"></i>
								返回
							</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('新帝豪')">新帝豪</button>
					</div>
				</div>

				<div id="pageModel别克" style="overflow: auto; height: 100%; width: 100%; float: left; display: none">
					<div style="height: 33%; width: 100%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted teal button" onclick="gotoLeft1()">
								<i class="angle up icon"></i>
								返回
							</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('英朗')">英朗</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('君威')">君威</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('威朗')">威朗</button>
					</div>

				</div>

				<div id="pageModel奥迪" style="overflow: auto; height: 100%; width: 100%; float: left; display: none">
					<div style="height: 33%; width: 100%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted teal button" onclick="gotoLeft1()">
								<i class="angle up icon"></i>
								返回
							</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('奥迪A6L')">奥迪A6L</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('奥迪A4L')">奥迪A4L</button>
					</div>

				</div>

				<div id="pageModel雪佛兰" style="overflow: auto; height: 100%; width: 100%; float: left; display: none">
					<div style="height: 33%; width: 100%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted teal button" onclick="gotoLeft1()">
								<i class="angle up icon"></i>
								返回
							</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('科鲁泽')">科鲁泽</button>
					</div>
				</div>

				<div id="pageModel奔驰" style="overflow: auto; height: 100%; width: 100%; float: left; display: none">
					<div style="height: 33%; width: 100%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted teal button" onclick="gotoLeft1()">
								<i class="angle up icon"></i>
								返回
							</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('奔驰E级')">奔驰E级</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('奔驰C级')">奔驰C级</button>
					</div>
				</div>

				<div id="pageModel现代" style="overflow: auto; height: 100%; width: 100%; float: left; display: none">
					<div style="height: 33%; width: 100%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted teal button" onclick="gotoLeft1()">
								<i class="angle up icon"></i>
								返回
							</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('领动')">领动</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('悦动')">悦动</button>
					</div>
				</div>

				<div id="pageModel宝马" style="overflow: auto; height: 100%; width: 100%; float: left; display: none">
					<div style="height: 33%; width: 100%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted teal button" onclick="gotoLeft1()">
								<i class="angle up icon"></i>
								返回
							</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('宝马5系')">宝马5系</button>
					</div>
				</div>

				
				<div id="pageModel马自达" style="overflow: auto; height: 100%; width: 100%; float: left; display: none">
					<div style="height: 33%; width: 100%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted teal button" onclick="gotoLeft1()">
								<i class="angle up icon"></i>
								返回
							</button>
					</div>
					<div style="height: 33%; width: 25%; float: left; text-align:center; padding-left: 1%; padding-right: 1%;">
							<button class="ui fluid inverted blue button" onclick="setModel('马自达3 昂克赛拉')">昂克赛拉</button>
					</div>
				</div>

			</div>
			<div class="visual_box" style="height:40%">
				<div class="visual_title">
					<span>车辆历史销量走势</span>
					<img src="images/ksh33.png">
				</div>
				<div class="visual_chart" id="left2">
					
				</div>
			</div>
			<div class="visual_box" style="height:40%">
				<div class="visual_title">
					<span>品牌实时热度指数</span>
					<img src="images/ksh33.png">
				</div>
				<div class="visual_chart" id="left3">
								
				</div>
			</div>
		</div>
		<div class="visual_con">
			<!-- <div class="visual_conTop">
				<div class="visual_conTop_box visual_conTop1">
					<div>
						<h3>当前警情数(起)</h3>
						<p>67</p>
						<div class="conTop_smil">
							<a class="sz">日环比:<span>+3%</span><i class="fa fa-long-arrow-up"></i></a>
							<a class="xd">周环比:<span>-2%</span><i class="fa fa-long-arrow-down"></i></a>
						</div>
					</div>
				</div>
				<div class="visual_conTop_box visual_conTop2">
					<div>
						<h3>区域拥堵指数</h3>
						<p>1.4</p>
						<div class="conTop_smil">
							<a class="">缓行</a>
							<a class="">平均车速<span>120</span>KM/H</i></a>
						</div>
					</div>
				</div>
				<div class="visual_conTop_box visual_conTop1">
					<div>
						<h3>当前警情数(起)</h3>
						<p>99</p>
						<div class="conTop_smil">
							<a class="sz">日环比:<span>+3%</span><i class="fa fa-long-arrow-up"></i></a>
							<a class="xd">周环比:<span>-2%</span><i class="fa fa-long-arrow-down"></i></a>
						</div>
					</div>
				</div>
				<div class="visual_conTop_box visual_conTop2">
					<div>
						<h3>当前警情数(起)</h3>
						<p>7421</p>
						<div class="conTop_smil">
							<a class="null">null</a>
							<a class="xd">月环比:<span>-2%</span><i class="fa fa-long-arrow-down"></i></a>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div> -->
			<div class="visual_conBot" style="height: 100%;">
				<img class="visual_conBot_l" src="images/ksh42.png">
				<img class="visual_conBot_2" src="images/ksh43.png">
				<img class="visual_conBot_3" src="images/ksh44.png">
				<img class="visual_conBot_4" src="images/ksh45.png">
				<div class="visual_chart_text">
					<h1>大数据+远程决策</h1>
					<h2>车辆大数据分析平台</h2>
				</div>

			<div class="swiper-container visual_chart">

				<div class="swiper-wrapper">
					<div class="swiper-slide swiper-no-swiping" id="heatMap"> </div>
					<div class="swiper-slide" id="wordCloud"></div>
					<div class="swiper-slide" id="complaintDiv">
						<div style="height:15%; width:100%;"></div>
						<div id="complaintScatter" style="height:70%; width:100%;"></div>
					</div>
				</div>
					
				<div class="swiper-pagination"></div>
			</div>

<div class="visual_chart" id="wordCloudID"></div>

				<!-- <div class="visual_chart" id="middleMap"></div> -->
				<!-- <div class="visual_conBot_bot">
					<div class="visualSssf_left">
						<h3>今日实时收费</h3>
						<a style="display:block">全省数据</a>
						<a>大同北</a>
						<a>大同南</a>
						<a>朔州</a>
						<a>吕梁北</a>
						<a>吕梁南</a>
						<a>太原</a>
						<a class="active">晋中</a>
						<a>太旧</a>
						<a>长治</a>
					</div>
					<div class="visualSssf_right">
						<div class="visualSssf_right_box" id="main5"></div>
						<div class="visualSssf_right_box" id="main6"></div>
						<div class="visualSssf_right_box" id="main7"></div>
					</div>
					<div class="clear"></div>
				</div> -->
			</div>
		</div>
		<div class="visual_right">
			<div class="visual_box" style="height: 20%;">
				<div class="visual_title" id="right1" >
					<span></span>
					<img src="images/ksh33.png">
				</div>
				<!-- <div class="numberRun">
					0
				</div> -->
				<div class="ui two statistics">
					<div class="blue statistic" >
						<div class="value" id="salenumber">
							0
						</div>
						<div class="label" >
							<font size="3" color="skyblue">累计销量</font>
						</div>
					</div>
					<div class="blue statistic" >
						<div class="value">
							2000
						</div>
						<div class="label">
								<font size="3" color="skyblue">累计投诉量</font>
						</div>
					</div>
				</div>
			</div>
			<div class="visual_box visualSfzsfl" style="height: 40%;">
				<div class="visual_title">
					<span>车型投诉量走势</span>
					<img src="images/ksh33.png">
				</div>
				<div class="visual_chart" id="right2">
					
				</div>
			</div>
			<div class="visual_box" style="height: 40%;">
				<div class="visual_title">
					<span>2-12月百车故障数：</span>
					<img src="images/ksh33.png">
				</div>
				<div class="visual_chart" id="right3">

				</div>
				<!-- <div class="swiper-container visual_swiper2 visual_chart">
					<div class="swiper-wrapper">
						<div class="swiper-slide"  id="main4"></div>
						<div class="swiper-slide"  id="main41"></div>
					</div>
				</div> -->
			</div>
		</div>
		<div class="visual_bottom">
			<div class="visual_smallBox">
				<div class="visual_title">
					<span>车型评分雷达图</span>
					<img src="images/ksh33.png">
				</div>
				<div class="visual_chart" id="bottom1">
						
					
				</div>
			</div>
			
			<div class="visual_smallBox">
				<div class="visual_title">
					<span>当月评论情感分析</span>
					<img src="images/ksh33.png">
					
				</div>
				<div class="visual_chart" id="bottom2">
						
					
				</div>
			</div>
			<div class="visual_smallBox">
				<div class="visual_title">
					<span>品牌车型销量占比</span>
					<img src="images/ksh33.png">
				</div>
				<div class="visual_chart" id="bottom3">
						
					
				</div>
			</div>
			<div class="visual_smallBox">
				<div class="visual_title">
					<span>购车目的</span>
					<img src="images/ksh33.png">
				</div>
				<div class="visual_chart" id="bottom4">
						
					
				</div>
			</div>
			<div class="visual_smallBox" style="width: 28.4%;">
				<div class="visual_title">
					<span>车型高频词汇</span>
					<img src="images/ksh33.png">
				</div>
				<div id="bottom5" style="width:100%;height: 80%;">
				<!-- <div id="bottom5" style="width:100%;height: 80%; text-align:justify; text-justify:inter-ideograph;"> -->

					<!-- <div style="height: 20%; width: 100%; float: left;"></div>
					<div style="height: 25%; width: 32%; float: left; padding-left: 1px; padding-right: 1px;">
							<button class="ui fluid inverted violet button">宽&#12288敞</button>
					</div>
					<div style="height: 25%; width: 32%; float: left; padding-left: 1px; padding-right: 1px;">
							<button class="ui fluid inverted teal button">舒&#12288适</button>
					</div>
					<div style="height: 25%; width: 32%; float: left; padding-left: 1px; padding-right: 1px;">
							<button class="ui fluid inverted blue button">避&#12288震</button>
					</div>
					<div style="height: 25%; width: 32%; float: left; padding-left: 1px; padding-right: 1px;">
						<button class="ui fluid inverted violet button">油耗低</button>
					</div>
					<div style="height: 25%; width: 32%; float: left; padding-left: 1px; padding-right: 1px;">
							<button class="ui fluid inverted teal button">加速快</button>
					</div>
					<div style="height: 25%; width: 32%; float: left; padding-left: 1px; padding-right: 1px;">
							<button class="ui fluid inverted blue button">耐&#12288脏</button>
					</div>
					<div style="height: 25%; width: 32%; float: left; padding-left: 1px; padding-right: 1px;">
						<button class="ui fluid inverted violet button">耐&#12288撞</button>
					</div>
					<div style="height: 25%; width: 32%; float: left; padding-left: 1px; padding-right: 1px;">
							<button class="ui fluid inverted teal button">便&#12288宜</button>
					</div>
					<div style="height: 25%; width: 32%; float: left; padding-left: 1px; padding-right: 1px;">
							<button class="ui fluid inverted blue button">售后好</button>
					</div> -->

				
					
				</div>
			</div>
			<!-- <div class="visual_smallBox">
				<div class="visual_title">
					<span>车型负面高频词汇</span>
					<img src="images/ksh33.png">
				</div>
				<div id="bottom6" style="width:100%;height: 80%">
					<div style="height: 20%; width: 100%; float: left; padding-left: 1px; padding-right: 1px;"></div>
					<div style="height: 25%; width: 32%; float: left; ">
							<button class="ui fluid inverted violet button">&#12288贵&#12288</button>
					</div>
					<div style="height: 25%; width: 32%; float: left; padding-left: 1px; padding-right: 1px;">
							<button class="ui fluid inverted teal button">噪音大</button>
					</div>
					<div style="height: 25%; width: 32%; float: left; padding-left: 1px; padding-right: 1px;">
							<button class="ui fluid inverted blue button">容易坏</button>
					</div>
					<div style="height: 25%; width: 32%; float: left; padding-left: 1px; padding-right: 1px;">
						<button class="ui fluid inverted violet button">空间小</button>
					</div>
					<div style="height: 25%; width: 32%; float: left; padding-left: 1px; padding-right: 1px;">
							<button class="ui fluid inverted teal button">油耗高</button>
					</div>
					<div style="height: 25%; width: 32%; float: left; padding-left: 1px; padding-right: 1px;">
							<button class="ui fluid inverted blue button">不舒服</button>
					</div>
					<div style="height: 25%; width: 32%; float: left; padding-left: 1px; padding-right: 1px;">
						<button class="ui fluid inverted violet button">外形丑</button>
					</div>
					<div style="height: 25%; width: 32%; float: left; padding-left: 1px; padding-right: 1px;">
							<button class="ui fluid inverted teal button">&#12288&#12288&#12288</button>
					</div>
					<div style="height: 25%; width: 32%; float: left; padding-left: 1px; padding-right: 1px;">
							<button class="ui fluid inverted blue button">&#12288&#12288&#12288</button>
					</div>

			
					
				</div>
			</div> -->
			<div class="visual_smallBox">
				<div class="visual_title">
					<span>3-5年百车故障分布</span>
					<img src="images/ksh33.png">
				</div>
				<div class="visual_chart" id="bottom7">
						
					
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<script type="text/javascript">
		$(function(){
			var a=$('.visualSssf_left a')
			for(var i=0;i<a.length;i++){
				a[i].index=i;
				a[i].onclick=function(){
					for(var i=0;i<a.length;i++){
						a[i].className=''
						}
					this.className='active'
				}
			}

			var sfzcllH=$('.sfzcll_box').height()
			var sfzcllHtwo=sfzcllH-2
			$('.sfzcll_box').css('line-height',sfzcllH+'px')
			$('.sfzcll_smallBk>div').css('line-height',sfzcllHtwo+'px')

			//删除加载动画
			$('#load').fadeOut(1000)
    		setTimeout(function(){    
    			$('#load').remove()
    		}
    		,1100);
		})

	// 左上角下拉菜单

	var curBrand = "奥迪"
	var curModel = "奥迪A4L"
	document.getElementById("modelshow").innerHTML=curModel;
	document.getElementById("brandshow").innerHTML=curBrand;
	var brandList = ["日产", "大众", "丰田", "本田", "吉利汽车", "别克", "奥迪", "大众", "雪佛兰", "奔驰", "现代", "宝马", "马自达"]
	var defaultModel = {
		"日产": "轩逸", 
		"大众": "朗逸", 
		"丰田": "卡罗拉", 
		"本田": "思域", 
		"吉利汽车": "新帝豪",
		"别克": "君威",
		"奥迪": "奥迪A4L",
		"大众": "速腾",
		"雪佛兰": "科鲁泽",
		"奔驰": "奔驰C级",
		"现代": "领动",
		"宝马": "宝马5系",
		"马自达": "马自达3 昂克赛拉"
	}

	function allPageHide(){
		document.getElementById("left1").style.display="none";
		document.getElementById("pageBrand").style.display="none";
		for(var i = 0; i < brandList.length; ++i){
			if(document.getElementById("pageModel"+brandList[i]) == null) continue;
			document.getElementById("pageModel"+brandList[i]).style.display="none";
		}

	}

	function gotoModelSelectionPage(){
		allPageHide()
		console.log("curBrand: "+curBrand)
		document.getElementById("pageModel"+curBrand).style.display="";
	}

	function gotoBrandSelectionPage(){
		allPageHide()
		document.getElementById("pageBrand").style.display="";
	}

	function setBrand(brand){
		curBrand = brand;
		console.log("curBrand set to: "+curBrand);
		curModel = defaultModel[curBrand];
		gotoModelSelectionPage();
	}

	function setModel(model){
		curModel = model;
		console.log("curBrand: "+curBrand+"curModel"+curModel);
		queryModel();
		document.getElementById("modelshow").innerHTML=curModel;
		document.getElementById("brandshow").innerHTML=curBrand;
		gotoLeft1()
	}

	function gotoLeft1(){
		allPageHide();
		document.getElementById("left1").style.display="";	
	}

	function queryModel(){
		// 请求雷达图
		queryRadar();
		queryFault();
		queryImpression();
		querySales();
		querySalesHistory();
	}

	function querySalesHistory(){

	}

	function _do_querySalesHistory(year, month){
		$.ajax({
            url: 'http://202.120.60.31:4000/get/ModelRating/', //请求的url
            type: 'get', //请求的方式
            data: 'model='+curModel+'&year='+year+'&month='+month,
            error: function (data) {
                console.log('queryRadar请求失败');
            },
            success: function (data) {
				if(data != undefined || data.length == 0){
					return;
				}else{

				}
            }
            
        });
	}

	var radar_idx2name = ["appearance","interior","space","configure","power","operation","oil_consumption","comfort"]

	function queryRadar(){
		$.ajax({
            url: 'http://202.120.60.31:4000/get/ModelRating/', //请求的url
            type: 'get', //请求的方式
            data: 'model='+curModel,
            error: function (data) {
                console.log('queryRadar请求失败');
            },
            success: function (data) {
				var curScore = [3.5, 3.5, 3.5, 3.5, 3.5, 3.5, 3.5, 3.5]
				for(var i = 0; i < curScore.length; ++i){
					curScore[i] = data[0][radar_idx2name[i]]
				}
				console.log(curScore)

				option7.series[0].data[1].value = curScore

				myChart7.setOption(option7)
            }
            
        });
	}


	var right3_idx2name = ['车身外观', '行驶过程', '功能操作', '电子设备', '座椅', '空调系统', '内饰', '动力系统', '变速系统']
	var botton7_idx2name = ['车身外观', '行驶', '功能操作', '电子设备', '座椅', '空调系统', '内饰', '动力系统']
	// 百车故障数
	function queryFault(){
		$.ajax({
            url: 'http://202.120.60.31:4000/get/FaultDist', //请求的url
            type: 'get', //请求的方式
            data: 'model='+curModel,
            error: function (data) {
                console.log('queryRadar请求失败');
            },
            success: function (data) {

				var failure_2_12 = [0, 0, 0, 0, 0, 0, 0, 0, 0]
				failure_2_12_JSON = JSON.parse(data[0]["fault_pp_2_12"])

				for(var i = 0; i < right3_idx2name.length; ++i){
					failure_2_12[i] = failure_2_12_JSON[right3_idx2name[i]]
				}

				myChart6.setOption({
                    series: [{
                        data: failure_2_12
                    }]
				});
				
				var fault_pp_3_5 = []
				fault_pp_3_5_JSON = JSON.parse(data[0]["fault_pp_3_5"])

				for(var i = 0; i < botton7_idx2name.length; ++i){
					fault_pp_3_5.push({
						value:fault_pp_3_5_JSON[botton7_idx2name[i]],
						name:botton7_idx2name[i]
					});
				}

				myChart13.setOption({
                    series: [{
                        data: fault_pp_3_5
                    }]
				});
				// console.log(curScore)

				// option7.series[0].data[1].value = curScore

				// myChart7.setOption(option7)
            }
            
        });
	}

	function querySales(){
		$.ajax({
            url: 'http://202.120.60.31:4000/get/sales', //请求的url
            type: 'get', //请求的方式
            data: 'model='+curModel+'&year=2019'+'&month=10',
            error: function (data) {
                console.log('querySales请求失败');
            },
            success: function (data) {
				document.getElementById("salenumber").innerHTML = data[0]['salesSum'];
            }
            
        });
	}

	function clearImpression(){
		var div = document.getElementById('bottom5');
		while(div.hasChildNodes()){
			div.removeChild(div.firstChild);
		}
	}

	var colorName = ['violet', 'teal', 'blue'];
	var idx = 0;

	function createImpression(rawText){
		// <button class="ui inverted violet button" style="margin: 1%;">车身稳定控制不错</button>
		var result = '<button class="ui inverted ';
		result += colorName[idx];

		idx += 1;
		idx %= colorName.length;

		result = result + ' button" style="margin: 1%;">' + rawText + '</button> \n';
		
		return result;
	}

	function setImpression(elementList){
		document.getElementById('bottom5').innerHTML = elementList;
	}

	function queryImpression(){
		clearImpression();
		$.ajax({
            url: 'http://202.120.60.31:4000/get/impression', //请求的url
            type: 'get', //请求的方式
            data: 'model='+curModel,
            error: function (data) {
                console.log('queryImpression请求失败');
            },
            success: function (data) {
				console.log('test');
				var impressionArr = (data[0]['impression']).split(' ');
				var elementList = '';
				for(var i = 0; i < impressionArr.length; ++i){
					var cur = impressionArr[i].replace(/^\s+|\s+$/g,"");
					if(cur.length == 0) continue;
					elementList += createImpression(cur);
				}
				setImpression(elementList);
            }
            
        });
	}


	// 右上角数字
	setInterval(function(){
		var nums = parseInt(document.getElementById("salenumber").innerHTML, 10) + 1;
		document.getElementById("salenumber").innerHTML = nums;
		// console.log(""+nums);
	}, 2000)



	//交通流量
	//var myChart1 = echarts.init(document.getElementById('main1'));
	//myChart1.setOption(option1);
	
	//车辆历史销量走势
	var myChart2 = echarts.init(document.getElementById('left2'));
	myChart2.setOption(option2);

	// 品牌实时热度
	var myChart3 = echarts.init(document.getElementById('left3'));
	myChart3.setOption(option3);
	var zoomSize = 6;
	myChart3.on('click', function (params) {
		console.log(dataAxis3[Math.max(params.dataIndex - zoomSize / 2, 0)]);
		myChart3.dispatchAction({
			type: 'dataZoom',
			startValue: dataAxis3[Math.max(params.dataIndex - zoomSize / 2, 0)],
			endValue: dataAxis3[Math.min(params.dataIndex + zoomSize / 2, data3.length - 1)]
		});
	});;

	// 车型投诉量走势
	var myChart5 = echarts.init(document.getElementById('right2'));
	myChart5.setOption(option5);

	// 百车故障数
	var myChart6 = echarts.init(document.getElementById('right3'));
	myChart6.setOption(option6);

	//车型评分雷达图
	var myChart7 = echarts.init(document.getElementById('bottom1'));
	myChart7.setOption(option7);

	// 当月评论情感分析
	var myChart8 = echarts.init(document.getElementById('bottom2'));
	myChart8.setOption(option8);

	//品牌车辆销售占比
	var myChart9 = echarts.init(document.getElementById('bottom3'));
	myChart9.setOption(option9);

	// 购车目的
	var myChart10 = echarts.init(document.getElementById('bottom4'));
	myChart10.setOption(option10);

	// 百车故障分析
	var myChart13 = echarts.init(document.getElementById('bottom7'));
	myChart13.setOption(option13);

	// 词云
	var myChartWordCloud = echarts.init(document.getElementById('wordCloud'));
	maskImage.onload = function () {
		// option.series[0].maskImage
		myChartWordCloud.setOption(optionWordCloud);
	}
	maskImage.crossOrigin = '';
	maskImage.src = './images/车剪影.png';

	// 热力图
	var myChartHeatMap = echarts.init(document.getElementById('heatMap'));
	myChartHeatMap.setOption(optionHeatMap);

	// 散点图
	var myChartScatter = echarts.init(document.getElementById('complaintScatter'));
	myChartScatter.setOption(optionComplaintScatter);


	// 切换器
	var mySwiper = new Swiper ('.swiper-container', {

		autoplay: false,//自动滑动
		noSwiping : true,
		speed:800,//滑动速度
		// autoplay: {
		// 	delay: 3000,
		// 	disableOnInteraction: false,//点击交互后不失效
		// },
		loop: true, 
		// 如果需要分页器
		pagination :{
			el: '.swiper-pagination',
			clickable :true,//允许点击
		}
	});

	  

	
	


    //本月发生事件
	// var myChart3 = echarts.init(document.getElementById('main3'));
    // myChart3.setOption(option3);
    // var myChart31 = echarts.init(document.getElementById('main31'));
    // myChart31.setOption(option31);
    // var mySwiper1 = new Swiper('.visual_swiper1', {
	// 	autoplay: true,//可选选项，自动滑动
	// 	speed:800,//可选选项，滑动速度
	// 	autoplay: {
	// 	    delay: 5000,//1秒切换一次
	// 	  },
	// })
    // //收费站收费排行
	// var myChart4 = echarts.init(document.getElementById('main4'));
    // myChart4.setOption(option4);
    // var myChart41 = echarts.init(document.getElementById('main41'));
    // myChart41.setOption(option41);
    // var mySwiper2 = new Swiper('.visual_swiper2', {
	// 	autoplay: true,//可选选项，自动滑动
	// 	direction : 'vertical',//可选选项，滑动方向
	// 	speed:2000,//可选选项，滑动速度
	// })
    // //今日实时收费
	// var myChart5 = echarts.init(document.getElementById('main5'));
    // myChart5.setOption(option5);
    // var myChart6 = echarts.init(document.getElementById('main6'));
    // myChart6.setOption(option6);
    // var myChart7 = echarts.init(document.getElementById('main7'));
    // myChart7.setOption(option7);
    // //中间地图
	// var myChart8 = echarts.init(document.getElementById('main8'));
    // myChart8.setOption(option8);
    // //收费站收费量
	// var myChart9 = echarts.init(document.getElementById('main9'));
	// myChart9.setOption(option9);
	
	window.onresize = function(){
		myChart2.resize();
		myChart3.resize();
		myChart5.resize();
		myChart6.resize();
		myChart7.resize();
		myChart7.resize();
		myChart8.resize();
		myChart9.resize();
		myChart10.resize();
		myChart13.resize();
		myChartWordCloud.resize();
		myChartHeatMap.resize();
		myChartScatter.resize();
	}

	queryModel()
	</script>
</body>
</html>
